/* Font */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
$lexend-deca: 'Lexend Deca';

/* Colors */

$color-white: rgb(249, 250, 252);
$color-black: rgb(4, 2, 17);
$color-dark-gray: #45454A;

$color-primary-blue: rgb(76, 33, 231);
$color-secondary-blue: rgb(76, 159, 228);

$color-primary-blue-dark: #0c0472;
$color-primary-blue-highlight: #5952c2;

$color-primary-red: #C4364A;
$color-secondary-red: #5C0915;

/* Padding */
$gutter-left-padding: 10%;
$gutter-right-padding: 20%;
$gutter-padding: 14%;


